[user]
	name = Dave Burke
	email = dburke84@gmail.com
[color]
	ui = auto
[core]
	editor = vim
	autocrlf = input
[merge]
	tool = vimdiff
[push]
	default = matching
[pull]
	rebase = true
[rerere]
	enabled = true
[alias]
	#lg = log --graph --all --oneline --decorate
	lg = log --graph --all --pretty=format:'%C(auto)%h %d %s %Cgreen%ad %Cblueby %an (%ae)' --date=relative
	patch = format-patch --patience --stdout
	c = commit -v
	ca = commit -a -v
	cm = commit -m
	cam = commit -a -m
	nb = checkout -b
	d = diff
	ds = diff --staged
	rbu = rebase -i @{upstream}
	undo = reset --hard HEAD@{1}
	initc=!git init && git add . && git commit -m 'Initial commit'.
	apull = "!f() { git stash && git checkout master && accurev update && git add -A && git commit -m 'Pull from AccuRev'; git checkout dev && git rebase master && git stash pop; }; f"
	apush = "!f() { git stash && git checkout master && git merge -m 'Push to AccuRev' --no-ff dev && accurev promote -pK -c \"${1}\" && git checkout dev && git merge master && git stash pop; }; f"

